/* @media (min-width: 1024px) { */
  /* Home.jsx */
  
  .general-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-image: url("./assets/background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
  }

  .logo-home {
    display: flex;
    height: 60%;
    justify-content: center;
    margin-bottom: 20%;
  }

  .customer-button {
    height: 100px;
    width: 200px;
    margin: 10px;
    padding: 5px;
    border: 5px solid #000000;
    box-shadow: 3px 3px 3px rgb(72,71,69);
    text-align: center;
    transition: .3s;
    background-color: #864D7F;
    font-size: 30px;
  }
